* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #27292c;
    color: white;
    height: 100vh;
    margin: 0;
    color: rgb(230, 235, 234);
}

#root {
    margin: 0 auto;
}

h1 {
    margin-top: 30px;
    color: #00d8ff;
}

Header {
    background-color: #21222A;
}

.header {
    max-width: 1045px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 30px;
}

.logo-container {
    display: flex;
    gap : 10px ;
    font-size: 0.55rem;
    font-weight: 400;
}

.logo-container h1 {
    margin: 0;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 5px;
    font-size: 0.75rem;
    font-weight: 400;
}

.react-facts > li::marker {
    color: #00d8ff;
    font-size: 1.5rem;
}

main {
    max-width: 1045px;
    padding : 35px;
    margin: 0 auto;
}

.react-facts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}